/**********************************
 * COMMON
 * utility
 */

 // % PROLEGOMENA % 
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;	// macOS
	-moz-osx-font-smoothing: grayscale;		// cmacOS+FF
	background-color: $white;
	color: $black;
	font-size: 14px;
	line-height: 1.6em;
}

// % BUTTONS % 
.btn {
	padding: 5px 10px;
	margin-left: 15px;
	border-radius: $radius;
	background-color: $green;
	color: $realwhite;
	cursor: pointer;
	transition: color 0.2s, background-color 0.2s;
	&:hover {
		background-color: $green2;
	}
	&.inactive {
		background-color: $light_grey;
		cursor: default;
	}
}

// % TEXTS % 
.txt_1 {
	font-size: 0.8em;
	font-style: italic;
}
.txt_2 {
	padding: 5px 10px;
	border-radius: $radius;
	background-color: $light_grey;
	font-weight: 500;
}
.txt_3 {
	font-size: 1.7em;
	line-height: 1.5em;
	color: $green;
}

// % CARD % 
.card {
	margin: 30px 0;
	border-radius: $radius;
	background-color: $realwhite;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}