/**********************************
 * VARIABLES
 * utility
 */
 
// % COLORS % 
$realwhite	: #fafafa;
$white		: #eaeaea;
$black		: #3c3c3c;
$grey		: #858585;
$light_grey	: #d1d1d1;
$purple		: #b91450;
$green		: #42b983;
$green2		: #62c699;
// $green2		: #3da978;
